.heading { align-self:center; font-size:32px; font-weight:$font-weight-semibold; line-height:1.3;
    margin:0 auto 16px;
    @include mq(xxs) { font-size:24px; }
}
.subheading { align-self:center; font-size:24px; font-weight:$font-weight-semibold; line-height:1.3;
    margin:0 auto 16px;
    @include mq(xxs) { font-size:20px; }
}
.display-xl { font-size:64px; font-weight:$font-weight-light; line-height:1.3; margin:0 auto 16px; }
.display-lg { font-size:48px; font-weight:$font-weight-light; line-height:1.3; margin:0 auto 16px; }
.display-md { font-size:40px; font-weight:$font-weight-light; line-height:1.3; margin:0 auto 16px; }
.display-sm { font-size:18px; font-weight:$font-weight-semibold; line-height:1.3; margin:0 auto 8px;
    padding:8px 0 0; }
.display-xs { font-size:16px; font-weight:$font-weight-semibold; line-height:1.3; margin:0 auto 8px;
    padding:8px 0 0; }
.caption { font-size:14px; margin:0 auto 16px; }

/* temporary because email course headings do not fit design system */
.display--email-course { font-size:56px; font-weight:$font-weight-semibold; }
