/***********************
  Utilities
************************/

/*********
 Spacing
*********/
$space-xs: 8px;
$space-sm: 16px;
$space-md: 32px;
$space-lg: 48px;
$space-xl: 64px;
$space-2x: 128px;
.u-pad-bottom-xs { padding-bottom:$space-xs !important; }
.u-pad-bottom-sm { padding-bottom:$space-sm !important; }
.u-pad-bottom-md { padding-bottom:$space-md !important; }
.u-pad-bottom-lg { padding-bottom:$space-lg !important; }
.u-pad-bottom-xl { padding-bottom:$space-xl !important; }
.u-pad-bottom-2x { padding-bottom:$space-2x !important; }
.u-pad-bottom-rm { padding-bottom:0 !important; }
.u-pad-top-xs { padding-top:$space-xs !important; }
.u-pad-top-sm { padding-top:$space-sm !important; }
.u-pad-top-md { padding-top:$space-md !important; }
.u-pad-top-lg { padding-top:$space-lg !important; }
.u-pad-top-xl { padding-top:$space-xl !important; }
.u-pad-top-2x { padding-top:$space-2x !important; }
.u-pad-top-rm { padding-top:0 !important; }
.u-pad-top-rm-xxs {
    @include mq(xxs) { padding-top:0 !important; }
}
.u-pad-left-xs { padding-left:$space-xs !important; }
.u-pad-left-sm { padding-left:$space-sm !important; }
.u-pad-left-md { padding-left:$space-md !important; }
.u-pad-left-lg { padding-left:$space-lg !important; }
.u-pad-left-rm { padding-left:0 !important; }
.u-pad-right-rm { padding-right:0 !important; }
.u-margin-auto-rm { margin-left:0 !important; margin-right:0 !important; }
.u-margin-bottom-rm { margin-bottom:0 !important; }
.u-margin-bottom-xs { margin-bottom:$space-xs !important; }
.u-margin-bottom-neg-sm { margin-bottom:(-$space-sm) !important; }
.u-margin-bottom-xl { margin-bottom:$space-xl !important; }
.u-margin-top-xs { margin-top:$space-xs !important; }
.u-margin-top-sm { margin-top:$space-sm !important; }
.u-margin-top-md { margin-top:$space-md !important; }
.u-margin-top-rm { margin-top:0 !important; }
.u-margin-top-neg-md { margin-top:(-$space-md) !important; }
.u-margin-left-md { margin-left:$space-md !important; }
.u-row-gap-xl { grid-row-gap:$space-xl; }

/***********
 Text color
***********/
.u-text-black { color:$color-black !important; }
.u-text-blue { color:$color-blue-dark !important; }
.u-text-gray { color:$color-gray !important; }
.u-text-purple { color:$color-purple !important; }
.u-text-salmon { color:$color-salmon !important; }
.u-text-teal { color:$color-teal !important; }
.u-text-teal-dark { color:$color-teal-dark !important; }
.u-text-violet { color:$color-violet !important; }
.u-text-violet-light { color:$color-violet-light !important; }
.u-text-white { color:$color-white !important; }
.u-text-white-transparent { color:$color-white-transparent !important; }
.u-link-blue { color:$color-blue-dark !important;
    &:hover { color:$color-blue-darkest !important; }
}
.u-link-teal { color:$color-teal !important;
    &:hover { color:$color-teal-dark !important; }
}
.u-link-violet { color:$color-violet !important;
    &:hover { color:$color-violet-dark !important; }
}
.u-link-white { color:$color-white !important; text-decoration:underline !important;
    &:hover { color:$color-white-transparent !important; text-decoration:underline !important; }
}
.u-link-white-transparent { color:$color-white-transparent !important; text-decoration:underline !important;
    &:hover { color:$color-white !important; text-decoration:underline !important; }
}

/************
 Text styles
************/
.u-text-light { font-weight:$font-weight-light !important;}
.u-text-normal { font-weight:$font-weight-normal !important; }
.u-text-semibold { font-weight:$font-weight-semibold !important; }
.u-text-bold { font-weight:$font-weight-bold !important; }
.u-text-100 { max-width:100% !important; }
.u-text-narrow { max-width:$text-width-max-narrow !important; }
.u-text-wide { max-width:$text-width-max-wide !important; }
.u-text-nobreak { white-space:nowrap !important; }
.u-text-nobreak-xs-up { @include mq(xs_up) { white-space:nowrap !important; }}
.u-text-align-left { text-align:left !important; }
.u-text-align-center { text-align:center !important; }
.u-text-align-center-sm {
    @include mq(sm_down) { text-align:center !important; }
}
.u-text-align-right { text-align:right !important; }
.u-text-lg { font-size:18px !important; }
.u-inline-icon { font-size:14px !important; margin:0 0 0 4px; text-decoration:none; }
.u-list-roman { list-style-type:lower-roman; }

/********
 Images
********/
.u-grid-image { align-content:center; display:grid; justify-content:center; margin:16px auto; }
.u-image-md { width:480px; }
.u-image-sm { width:380px; }
.u-image-xs { width:280px; }
.u-image-full-width-sm {
    @include mq(xs_down) { margin:0 -32px; }
    @include mq(xxs) { margin:0 -16px; }
}
.u-inline-logo { margin-bottom:.6%; margin-right:24px; vertical-align:bottom;
    @include mq(xs_down) { display:block; margin:8px auto; }
}
.u-diamond-spacer { background-image:dl-url('main', 'images/bem-modules/list/list--diamond-orange.svg');
    background-repeat:no-repeat; background-position:center center; background-size:12px;
    display:inline-block; height:12px; margin:0 8px; width:12px; }
.u-border-radius { @include border-radius; overflow:hidden; }

/*******
 Hiding
*******/
.u-hide {
    display:none !important;
}
.u-hide-xxs {
    @include mq(xxs) { display:none !important; };
}
.u-hide-xs-up {
    @include mq(xs_up) { display:none !important; };
}
.u-hide-xs-down {
    @include mq(xs_down) { display:none !important; };
}
.u-hide-sm-up {
    @include mq(sm_up) { display:none !important; };
}
.u-hide-md-up {
    @include mq(md_up) { display:none !important; };
}
.u-hide-lg-up {
    @include mq(lg_up) { display:none !important; };
}
.u-hide-sm-down {
    @include mq(sm_down) { display:none !important; };
}
.u-hide-md-down {
    @include mq(md_down) { display:none !important; };
}
.u-hide-lg-down {
    @include mq(lg_down) { display:none !important; };
}

/*******
 Layout
*******/
.u-move-column-center {
    @include mq(sm_up) { margin-left:calc(50% - -#{$container-grid-gutter}/2) !important;
        margin-right:calc(-50% - #{$container-grid-gutter}/2) !important;
    }
}
.u-move-column-center-sm {
    @include mq(sm) { margin-left:calc(50% - -#{$container-grid-gutter}/2) !important;
        margin-right:calc(-50% - #{$container-grid-gutter}/2) !important;
    }
}
.u-overflow-hide { overflow:hidden !important; }
.u-overflow-visible { overflow:visible !important; }
.u-position-relative { position:relative !important; }
.u-no-scroll { height:100vh !important; overflow:hidden !important; position:relative !important; }
.u-grid-justify-end { justify-self:end !important; }
.u-block-purple-lightest { @include border-radius; background-color:$color-purple-lightest; padding:32px; }
.u-grid-align-center { align-self:center !important; }

/*********
 Animation
**********/
.u-fadein {
    opacity:0;
    @include animation(fadein, 0.5s, ease-in, 1, forwards);
}

/*********
 Testing
**********/
.u-test-a { display:block; }
.u-test-b { display:none; }
.u-test-c { display:none; }
