.article { text-align:left;
    @include mq(md_up) { display:grid; grid-column-gap:$container-grid-gutter;
        grid-template-columns:auto calc(#{$container-width - $container-grid-gutter*3}/4);
     }
}
.article__content { max-width:$container-width-narrow;
    @include mq(md_down) { margin:0 auto; }
    h1,h2,h3,h4,p { max-width:none; }
    h2 { font-size:24px; font-weight:$font-weight-semibold; line-height:1.3; margin:0 0 24px; padding:48px 0 0;
        @include mq(sm_up) { font-size:32px; }
    }
    h3 { font-size:20px; font-weight:$font-weight-semibold; line-height:1.3; margin:0 0 16px;
        padding:48px 0 0;
        @include mq(sm_up) { font-size:24px; }
    }
    p { font-family:$base-font-serif; font-size:18px; font-weight:$font-weight-medium; margin:0;
        padding:0 0 24px;
        @include mq(sm_up) { font-size:22px; line-height:32px; padding:0 0 32px; }
    }
    a { border-bottom:1px solid; text-decoration:none; }
    li { font-family:$base-font-serif; font-size:18px; font-weight:$font-weight-medium; margin:0;
        @include mq(sm_up) { font-size:22px; line-height:32px; }
    }
    ul { margin:0 0 24px 0;
      li { background-image:dl-url('main', 'images/bem-modules/list/list--diamond.svg'); background-repeat:no-repeat;
          background-position:left 6px; background-size:12px; list-style:none; padding:0 0 0 36px;
          @include mq(sm_up) { background-position:left 10px; }
      }
    }
    ol { margin:0 0 24px 32px; }
    img { @include border-radius; display:block; height:auto; margin:8px auto;
        max-height:$container-width-narrow; width:auto; }
    figure.image { margin:0; max-width:100%; padding:0 0 24px;
        @include mq(sm_up) { padding:0 0 32px; }
        figcaption { margin:8px 0; text-align:left;
            @include mq(sm_down) { font-size:14px; }
            @include mq(md_up) { margin:24px 0 8px 632px; width:216px; }
        }
    }
    img.full-width, figure.full-width { @include mq(md_up) { min-width:960px; max-height:none; }}
    img.full-height, figure.full-height { max-height:none; }
    p.caption { font-family:$base-font; font-size:16px; line-height:normal; margin:-8px 0;
        @include mq(sm_down) { font-size:14px; }
        @include mq(md_up) { margin:0 0 8px 672px; width:216px; }
    }
    p.attrib { font-family:$base-font; font-weight:$font-weight-semibold; margin:-24px 0 0;
        @include mq(sm_down) { margin:-16px 0 0; }
    }
    blockquote { margin:0 0 56px; padding:64px 0 0; position:relative; quotes: "“" "”" "‘" "’";
        p { font-style:italic;  }
        &:before { content:open-quote; font-size:96px; left:0; position:absolute; top:0; }
        &:after { content:close-quote; font-size:96px; right:0; position:absolute; bottom:-72px; }
    }
    q { font-style:italic; }
    iframe { width:100%;
        @include mq(xs_down) { height:auto; }
    }
    .two-col {
        @include mq(sm_up) { display:grid; grid-template-columns:1fr 1fr;
            grid-column-gap:$container-grid-gutter;
            img { margin:0 auto; }
        }
        @include mq(md_up) { min-width:960px; }
    }
}
.article__author { }
