.blog-card { margin:0 0 24px;
    &--featured { position:relative;
        &:before { @include border-radius(50%); background-color:$color-teal-dark; color:$color-white;
            content:""; display:block; font-size:20px; font-weight:$font-weight-bold; line-height:32px;
            height:32px; left:-8px; padding:0; position:absolute; top:-8px; width:32px;
            @include mq(sm_up) { font-size:32px; line-height:48px; height:48px; left:-16px; top:-16px;
                width:48px; }
        }
        &:nth-of-type(1):before { content:"1"; }
        &:nth-of-type(2):before { content:"2"; }
    }
    &--featured-sm {
        &:before {
            @include mq(md_up) { font-size:20px; line-height:32px; height:32px; left:-8px; padding:0;
                top:-8px; width:32px; }
        }
        &:nth-of-type(1):before { content:"3"; }
        &:nth-of-type(2):before { content:"4"; }
        &:nth-of-type(3):before { content:"5"; }
    }
    &--featured, &--wide-md {
        @include mq(sm) { display:grid; grid-column-gap:$container-grid-gutter;
            grid-template-columns:1fr 1fr;
            .blog-card__image { margin:0; }
            .blog-card__info { align-self:end; }
            .blog-card__title { font-size:24px; }
        }
    }
    &--loading { @include animation(fadein, 1s, ease-in); }
    &--hidden { display:none; }
}
.blog-card__image { @include border-radius; margin:0 0 24px; }
.blog-card__body { display:grid; text-align:left; }
.blog-card__title { color:$color-black; font-size:20px; font-weight:$font-weight-semibold;
    text-decoration:none;
    &:hover { color:$color-orange-dark; }
    &--lg { @include mq(md_up) { font-size:24px; }}
}
.blog-card__info { align-items:center; display:grid; grid-column-gap:16px; grid-template-columns:auto auto;
    justify-content:start; margin:24px 0 0; width:100%; }
.blog-card__date { @include border-radius; background-color:$color-gray-light; display:inline-block;
    line-height:28px; padding:0 8px; white-space:nowrap; }
