.lesson-footer { background-color:transparent; border-bottom:8px solid $color-orange; bottom:0; left:0;
    position:fixed; width:100%;
    @include mq(xs_up) { display:grid; justify-content:end; padding:0; position:relative; }
}
