.timetable { @include border-radius; background-color:$color-white; padding:16px 16px 24px; text-align:left; }
.timetable__title { border-bottom:1px solid $color-gray-light; letter-spacing:.1em; margin:0 0 16px;
    padding:0 0 8px; text-transform:uppercase; }
