.ui-tooltip.dl { @include border-radius; @include smooth_text; background:rgba(0,0,0,0.8); border:none;
    box-shadow:none; color:$color-white; font-size:14px; font-family:$base-font; max-width:300px; padding:8px;
    position:absolute; z-index:9999;
    &::after { content:''; border-color:rgba(0,0,0,0.8) transparent; border-style:solid; display:block;
        left:50%; margin-left:-10px; position:absolute; width:0; }
    &.top-arrow::after { border-width:0 10px 10px; top:-10px; }
    &.bottom-arrow::after { border-width:10px 10px 0; bottom:-10px; }
    &.center { text-align:center; }
    &.left-arrow::after { border:10px solid transparent; border-color:rgba(0,0,0,0);
        border-right-color:rgba(0,0,0,0.8); left:0; margin-left:-20px;  margin-top:-10px; top:50%;
    }
}
