.topbar-login { background-color:$color-black; display:block; margin:0; padding:8px;
    text-align:center; text-decoration:none; }
.topbar-login__text { color:$color-white; font-weight:$font-weight-semibold; margin:0 auto; }
.topbar-login__text__icon { font-size:12px; margin:0 0 0 4px; }
